﻿@using System.Threading.Tasks
@using EventStream.SampleWeb
@using Newtonsoft.Json
@{
    if (IsPost)
    {
        var eventType = Request.Form["EventType"];
        var eventBodyString = Request.Form["EventBody"];
        var eventBody = JsonConvert.DeserializeObject(eventBodyString);
       
        EventStreams.Main.RaiseEvent(eventType, eventBody);
        
        <text>
            <h1>Raised event:</h1>
            Event type: @eventType <br />
            Event body:
            <pre>
@eventBodyString
            </pre>
        </text>
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        label {
            display: block;
        }

        input[name=EventType]{
            width: 200px;
        }
    </style>
</head>
<body>
    <form method="post">
        <fieldset>
            <legend>Create new event</legend>
            <div>
                <label for="EventType">Event Type:</label>
                <input type="text" name="EventType" value="testevent" />
            </div>
            <div>
                <label for="EventBody">Event Body (json):</label>
                <textarea name="EventBody" rows="10" cols="80">{
    message: "hello from eventstream"
}</textarea>
            </div>
            <input type="submit" value="Create" />
        </fieldset>
    </form>
</body>
</html>
